body {
  background-image: url('https://i.imgur.com/TQM9meA.png');
  background-repeat: no-repeat;
  background-position: top;
  background-color: #fffeed;
  font-family: Montserrat, sans-serif;
  color: #1a5589;
}

.Logo {
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 230px;
}



.header.responsive a {
  float: none;
  display: block;
  text-align: center;
}

.header a {
  display: block;
  text-align: center;
  color: #1a5589;
  text-decoration: none;
  line-height: 30px;
}

.header-right a{
  display: none;
}

.header-right a.icon {
  display: block
}

.header-right a:hover {
  color: white;
  background-color: #1a5589;
}

.header-right {
  margin-top: 10px;
  float: none;
  font-weight: bold;
  font-size: 20px;
}

.page-content {
  width: 90%;
  background-color: #fffeed;
  padding: 10px;
}

iframe {
  width: 100%;
  height: 400px;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

form {
  padding: 10px;
  text-align: center;
  max-width: 400px;
}

input {
  margin: 5px;
  border-color: #215f8f;
  border-radius: 3px;
  padding: 5px;
}

input[type=submit] {
  display: inline;
  border: none;
  background-color: #215f8f;
  color: white;
}

@media only screen and (min-width: 720px) {
  .header a {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-right {
    float: right;
    margin-top: 120px;
  }

  .page-content {
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 90%;
  }

  .header a.icon {
    display: none;
  }
}

@media only screen and (min-width: 1050px) {
  .wrapper {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 60%;
  }
}
